/Data
/src/trial.ipynb
bird_data.tar.gz
/src/hkm_bal_5000.pkl
/src/hkm_tree_5000.pkl
/src/hkm_tree.pkl
/src/func.py
/src/Wrapper.py
/src/camera_params_baalShamin.csv
/src/camera_params_church.csv
/src/output_with_colors.ply
/src/u.py
/src/5.py